.App {
  text-align: center;
}

.search-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120vh;
  padding: 10px;
  margin-left: 240px;
}

.search-result-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item{
  width:20%;
  margin: 5px;
}